.App-logo {
  position: absolute;
  animation: rotation infinite 60s linear;
  pointer-events: none;
  height: 80vw;
  width: 80vw;
  top: -40vw;
  right: -40vw;
  z-index: -1;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
